body {
  background-color: white;
}

.navbar-default {
  background-color: #fff;
  margin-bottom: 0;
}

.navbar-nav > ul > a {
  color: blue;
}

#wemeet {
  font-size: 32px;
  font-family: "Pacifico", cursive;
  color: #f00;
}

#wemee:hover {
  text-decoration: none !important;
}

h1 {
  font-family: "Alfa Slab One", cursive;
  color: white;
  font-size: 40px;
  position: absolute;
  left: 32%;
  top: 48%;
}

h3 {
  font-family: "Alfa Slab One", cursive;
  color: white;
  font-size: 20px;
  position: absolute;
  left: 41.5%;
  top: 58%;
}

#about-us:hover {
  font-size: 25px !important;
  cursor: pointer !important;
  color: red !important;
}

#login-button {
  width: 280px;
  height: 50px;
  position: absolute;
  top: 70%;
  left: 39%;
  background-color: rgb(255, 96, 96);
  opacity: 1;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  outline: none;
}

#login-button2 {
  width: auto;
  background-color: rgb(255, 96, 96);
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  outline: none;
  position: absolute;
  left: 45%;
  top: -10%;
  display: none;
}

input {
  outline: none;
}

#login-button:hover {
  opacity: 1;
  background-color: rgb(204, 33, 33);
}

.box {
  position: relative;
  height: 350px;
  background-color: rgb(15, 23, 33);
  width: 100%;
}

#right-block {
  width: 35%;
  color: white;
  position: absolute;
  right: 5%;
  top: 45%;
}

#left-block {
  width: 35%;
  color: white;
  position: absolute;
  left: 5%;
  top: 45%;
}

p {
  font-family: "Ubuntu Condensed", sans-serif;
  line-height: 26px;
  font-size: 20px;
}

h4 {
  font-size: 30px;
  text-align: center;
}

a span {
  line-height: 2;
}
span {
  color: #0ac;
}

h2 {
  text-align: center;
  font-size: 40px;
  font-family: "Alfa Slab One", cursive;
  color: #fff;
  position: absolute;
  top: 10%;
  left: 35%;
}

#search {
  font-size: 150px;
  margin-left: 200px;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.colMargin {
  margin: 60px 0px 60px 0px !important;
}

.mySlides {
  height: 100%;
  width: 100%;

  position: relative;
  z-index: -1;
}

#img {
  height: 300px;
  width: 350px;
  margin-top: 200px;
}

#p-img {
  width: 100%;
}

#pic {
  margin-top: 20px;
  margin-left: 200px;
}

#user-img {
  width: 300px;
}

.text {
  position: absolute;
  top: 40%;
  left: 25%;
}

#connect {
  margin-top: 20px;
}

h5 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

#sign-out-login {
  margin-left: 200px;
  width: 150px;
}

#logo {
  width: 75px;
  position: absolute;
  right: 5%;
  top: 12%;
  animation-name: slide;
  animation-duration: 3s;
}

#logo:hover {
  width: 100px;
}

@keyframes slide {
  0% {
    right: -15%;
    top: 12%;
  }

  100% {
    right: 5%;
    top: 12%;
  }
}

.footer {
  width: 100%;
  height: 100px;
  background-color: #345;
  margin-top: 50px;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 18px;
  color: #fff;
}

#copyright {
  font-size: 20px;
  color: white;
  margin-top: 20px;
}

/* user profile styling */

.user-profile {
  background-color: #fff;
  width: 300px;
  border: 10px solid;
  border-color: #ffbb00;
  padding: 25px;
  margin: 25px;
}

.username {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #fc4349;
}

.user-description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #2c3e50;
}

/* restaurant box styling */

.restaurant-box {
  background-color: #fff;
  width: 400px;
  border: 10px solid;
  border-color: #3cdbbc;
  border-radius: 10px;
  padding: 25px;
  margin: 25px;
}

.restaurant-name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #fc4349;
}

.restaurant-type {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  color: #2c3e50;
}

.restaurant-description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #2c3e50;
}

/* login form styling */

form {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

#sign-out-index {
  margin-left: 400px;
  margin-bottom: 10px;
  width: 200px;
}

#buttonthing {
  text-align: center;
  margin-left: 200px;
  width: 150px;
  margin-top: 24px;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #2c3e50;
  border-radius: 10px;
}

#login {
  width: 49%;
}

button:hover {
  opacity: 0.8;
}

/*COLORS
navy blue: #2C3E50
red: #FC4349
orange: #FFBB00
teal: #3CDBBC */

/* login modal */

/* styles for the cancel button */
.cancelbtn {
  width: 49%;
  padding: 10px 18px;
  background-color: #fc4349;
}

/* Center the logo and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.modalcontainer {
  padding: 20px;
}

span.psw {
  float: right;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fff;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }

  .modal-content {
    background-color: #fff;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
  }

  .modalcontainer {
    padding: 20px;
  }
}

@media only screen and (max-width: 950px) {
  #login-button {
    display: none;
  }
  #login-button2 {
    display: block;
  }

  .modalcontainer {
    padding: 20px;
  }

  .modal-content {
    background-color: #fff;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
  }
}

@media only screen and (max-width: 600px) {
  #login-button {
    display: none;
  }
  #login-button2 {
    display: block;
  }

  .modalcontainer {
    padding: 20px;
  }

  .modal-content {
    background-color: #fff;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
  }
}
